.hero__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    height: 500px;
    position: relative;
    color: #fff;
    background: linear-gradient(to right, #333 0%, #222 10%, #000 50%);
}

.hero__tagline {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
    z-index: 5;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}

.hero__subheader {
    font-size: 30px;
    text-align: center;
    z-index: 5;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

.hero__getstarted {
    position: relative;
    z-index: 5;
    margin-top: 10px;
}

.hero__computerman {
    position: absolute;
    height: 100%;
    right: 0;
}

.hero__svg-wrapper {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    padding-bottom: calc(100% * 45 / 1440);
}

.info__wrapper {
    padding: 3% 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: radial-gradient(circle at center, #fff 0%, #fafafa 100%)*/
}

.info__undraw {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.info__header {
    font-size: 30px;
}

.info__header--highlight {
    color: #1890ff;
}

.info__feature-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    padding-top: 2em;
}

.info__icon-wrapper {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    border: 1px solid #ddd;
    width: calc(50% - 20px);
    padding: 4em 2em;
    margin: 10px;
    box-sizing: border-box;
}

.info__icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.info__icon-title {
    font-weight: bold;
    font-size: 22px;
}

.info__icon-text {
    text-align: center;
}