.home__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    height: 450px;
    position: relative;
    color: #fff;
    background: linear-gradient(to right, #333 0%, #222 10%, #000 50%);
}

.home__tagline {
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
    z-index: 5;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}

.home__subheader {
    font-size: 30px;
    text-align: center;
    z-index: 5;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

.home__getstarted {
    position: relative;
    z-index: 5;
    margin-top: 10px;
}

.home__computerman {
    position: absolute;
    height: 100%;
    right: 0;
}

.info__wrapper {
    padding: 3% 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: radial-gradient(circle at center, #fff 0%, #fafafa 100%)*/
}

.info__undraw {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.info__header {
    font-size: 30px;
}

.info__header--highlight {
    color: #1890ff;
}