body {
    font-family: Raleway;
}

.drawer__open {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    right: 0;
    background: #fff;
    color: #444;
    transform: translateX(50%);
    box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drawer__icon {
    font-size: 25px;
    color: #666;
    transition: all .4s ease-in-out;
}

.drawer__icon--closed {
    transform: rotate(180deg);
}

.info__wrapper .ant-form-item-label {
    line-height: 30px;
    font-weight: bold;
    color: #1890ff;
}

.ant-tag {
    margin-bottom: 5px;
}

