.styles__color-label {
    font-weight: bold;
}

.ant-tabs {
    overflow: initial !important;
}

.styles__item-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.styles__color-wrapper {
    display: flex;
    align-items: center;
}

.styles__color-swatch {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #eee;
}

.twitter-picker {
    top: 40px;
    left: -5px;
    z-index: 10;
}

.styles__font-wrapper {
    padding: 15px 0;
}

.styles__font-select {
    width: 150px;
    margin: 0 0 0 15px !important;
    display: inline-block;
}

.styles__themes-title {
    /*font-weight: bold;*/
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.styles__font-size-wrapper {
    display: flex;
    align-items: center;
}

.styles__font-slider {
    margin-left: 15px !important;
    flex: 1;
}

.theme__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    background: #fafafa;
    max-width: 300px;
    margin: 0 auto 15px auto;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.theme__wrapper--selected {
    border: 3px solid #1890ff;
}

.theme__header {
    padding: 15px 15px 5px 15px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
}

.theme__name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.theme__img-wrapper {
    position: relative;
    /*padding: 0 15px 15px 15px;*/
}

.theme__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 45px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.theme__wrapper--selected .theme__check {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
}

.theme__img {
    width: 100%;
    margin-bottom: 10px;
}

.theme__popover {
    width: 300px;
}

