.styles__color-label {
    font-weight: bold;
}

.ant-tabs {
    overflow: initial !important;
}

.styles__item-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.styles__color-wrapper {
    display: flex;
    align-items: center;
}

.styles__color-swatch {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

.twitter-picker {
    top: 40px;
    left: -5px;
    z-index: 10;
}

.styles__font-wrapper {
    padding: 10px 0;
}

.styles__font-select {
    width: 150px;
    margin: 0 0 0 15px !important;
    display: inline-block;
}

.styles__themes-title {
    /*font-weight: bold;*/
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 10px;
}

.styles__font-size-wrapper {
    display: flex;
}

.styles__font-slider {
    margin-left: 15px !important;
    flex: 1;
}