.editor__template-wrapper {
    position: relative;
}

.editor__download-wrapper {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    right: 25px;
    top: 25px;
    height: 0;
}
