/* width */
.ant-drawer-wrapper-body::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.ant-drawer-wrapper-body::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 10px;
}

/* Handle */
.ant-drawer-wrapper-body::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;

}

/* Handle on hover */
.ant-drawer-wrapper-body::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.5);
}